{% extends "AppCoder/padre.html" %}

{% load static %}


{% block contenidoQueCambia %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Todo sobre Subs - Tomas Bonacalza</h1>
                    <!-- Signup form-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                   
                </div>
            </div>
        </div>
    </div>
</header>

    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <a class="btn btn-outline-danger" href="http://127.0.0.1:8000/AppCoder/subFormulario" role="button">Agregar Auto</a>
    <h1>AUTOS SUBS</h1>

{% endblock %}
