{% extends 'AppCoder/padre.html'%}  
{% load static %}
{% block contenidoQueCambia %}

<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Pre-entrega N'3   - Tomas Bonacalza</h1>
                            <!-- Signup form-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                           
                        </div>
                    </div>
                </div>
            </div>
        </header>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Problemas:
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>.</strong> Buenas, uso este espacio para explicar un poco los problemas que tuve al desarrollar la pagina, la verdad que me llevo mucho mas tiempo del que esperaba, ya que senti que muchas veces copiabamos y pegabamos codigo sin entender del todo el funcionamiento, no encontre la forma de cambiar el color o poner un fondo mas estetico a la pagina, asi que opte en seguir con el mismo que habiamos usado durante las clases, por eso siento que no pude desarrollar completamente el programa, me falto el buscador de elementos en la DB ya que como en la clase no lo llegamos a ver intente entender ambos codigos y su funcionamiento pero no pude encontrarle la vuelta, aun asi espero que les guste el trabajo, un saludo :). les dejo datos del superuser, NOMBRE: "Tomas", CONTRASEÑA: "coder1234"
                    </div>
                  </div>
                </div>
<h2>Este es mi trabajo espero que les guste :)</h2>
<p>Se ha heredado todo desde la plantilla padre</p>

{% endblock %}
